.btn-float {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border: none;
  font-size: 18px;
  color: #fff;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
}
.btn-float:hover {
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 4px 15px rgba(0, 0, 0, 0.13);
}
.btn-float:active, .btn-float:focus {
  outline: none;
}
.btn-float + .btn-float {
  margin-left: 5px;
}


.icon-bars {
  background: #fff;
  height: 1px;
  width: 22px;
  margin: auto;
  display: block;
  position: relative;
  -moz-transition: 0.3s 0.3s;
  -o-transition: 0.3s 0.3s;
  -webkit-transition: 0.3s;
  -webkit-transition-delay: 0.3s;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}
.icon-bars:after {
  content: '';
  position: absolute;
  height: 22px;
  width: 1px;
  background: #fff;
  top: -10px;
}

.float-btn-group {
  position: relative;
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.float-btn-group .btn-triger {
  z-index: 15;
  float: left;
}
.float-btn-group .btn-list {
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.float-btn-group .btn-list li {
  display: inline-block;
}
.float-btn-group.open .icon-bars {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



// ================================================


.ice-draggable-btn {
  .center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .menu {
    width: 40px;
    height: 40px;
  }

  .title {
    width: 300px;
    height: 10px;
    top: 60px;
  }

  .item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    background-color: white;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
  }

  i {
    font-size: 24px;
    color: #222222;
  }

}