/**
 * 复用
 */

.layout-page(@w: 980px) {
  width: @w;
  margin-left: auto;
  margin-right: auto;
}

// 尺寸
.size(@w, @h) {
  width: @w;
  height: @h;
}

// 统一盒模型
.border-box() {
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

// 最小尺寸, 兼容IE6
.min-w(@min-w) {
  min-width: @min-w;
  _width: @min-w;
}

.min-h(@min-h) {
  min-height: @min-h;
  _height: @min-h;
}

// 内联块级元素, 兼容IE6
.inline-block() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

// 固定定位, 兼容IE6
.fixed() {
  position: fixed;
  _position: absolute;
  *zoom: 1;
}

// 居中 =========
// txt-x等最为标志
// 文本水平居中
.center(txt-x) {
  text-align: center;
}

// 文本垂直居中
.center(txt-y) {
  display: table-cell;
  vertical-align: middle;
}

// 元素垂直居中
.center(bar-y, @h) {
  height: @h;
  line-height: @h;
}

// 容器居中
.center(auto-x) {
  margin-left: auto;
  margin-right: auto;
}

// 已知元素长宽
.center(known-xy, @w, @h) {
  .size(@w, @h);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -(@w / 2);
  margin-left: -(@h / 2);
}

.center(known-x, @w) {
  width: @w;
  position: absolute;
  left: 50%;
  margin-left: -(@w / 2);
}

.center(known-y, @h) {
  height: @h;
  position: absolute;
  top: 50%;
  margin-top: -(@w / 2);
}

// 居中, 不确定尺寸, 不兼容 IE6
.center(unknown) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.center(unknown-x) {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.center(unknown-y) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

// 居中, CSS3 平移方式, 兼容性不行
.center(translate) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 居中, Flex 方式, 兼容性不行
.center(flex) {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 去除边距
.no-mt() {
  margin-top: 0 !important;
}
.no-mr() {
  margin-right: 0 !important;
}
.no-ml() {
  margin-left: 0 !important;
}
.no-mb() {
  margin-bottom: 0 !important;
}

.no-pt() {
  padding-top: 0 !important;
}
.no-pr() {
  padding-right: 0 !important;
}
.no-pl() {
  padding-left: 0 !important;
}
.no-pb() {
  padding-bottom: 0 !important;
}


.padding(@padding: @padding-lg) {
  padding: @padding;
}


.mt(@i: @top) {
  margin-top: @i;
}
.mt(sm) {
  margin-top: @top-sm;
}
.mt(md) {
  margin-top: @top-md;
}
.mt(lg) {
  margin-top: @top-lg;
}


.mr() {
  margin-right: @top;
}
.mr(sm) {
  margin-right: @top-sm;
}
.mr(md) {
  margin-right: @top-md;
}
.mr(lg) {
  margin-right: @top-lg;
}


.mb() {
  margin-bottom: @top;
}

.mb(sm) {
  margin-bottom: @top-sm;
}
.mb(md) {
  margin-bottom: @top-md;
}
.mb(lg) {
  margin-bottom: @top-lg;
}

.ml() {
  margin-left: @left;
}
.ml(@l: @left) {
  margin-left: @l;
}


.ml(sm) {
  margin-left: @left-sm;
}
.ml(md) {
  margin-left: @left-md;
}
.ml(lg) {
  margin-left: @left-lg;
}




.pt() {
  padding-top: @top;
}
.pt(@t: @top) {
  margin-top: @t;
}

.pt(sm) {
  padding-top: @top-sm;
}
.pt(md) {
  padding-top: @top-md;
}
.pt(lg) {
  padding-top: @top-lg;
}



.pr() {
  padding-right: @left;
}

.pr(sm) {
  padding-right: @left-sm;
}
.pr(md) {
  padding-right: @left-md;
}
.pr(lg) {
  padding-right: @left-lg;
}

.pb() {
  padding-bottom: @top;
}
.pb(sm) {
  padding-bottom: @top-sm;
}
.pb(md) {
  padding-bottom: @top-md;
}
.pb(lg) {
  padding-bottom: @top-lg;
}


.pl() {
  padding-left: @left;
}
.pl(sm) {
  padding-left: @left-sm;
}


.plr() {
  padding-left: @left;
  padding-right: @left;
}
.plr(sm) {
  padding-left: @left-sm;
  padding-right: @left-sm;
}
.plr(md) {
  padding-left: @left-md;
  padding-right: @left-md;
}
.plr(lg) {
  padding-left: @left-lg;
  padding-right: @left-lg;
}


.ptb() {
  padding-top: @top;
  padding-bottom: @top;
}
.ptb(sm) {
  padding-top: @top-sm;
  padding-bottom: @top-sm;
}
.ptb(md) {
  padding-top: @top-md;
  padding-bottom: @top-md;
}
.ptb(lg) {
  padding-top: @top-lg;
  padding-bottom: @top-lg;
}



// 书写模式 从右至左、从上至下排版效果
.layout-reverse(txt-x) {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.layout-reserve(txt-y) {
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

/**
 * 图片
 */

// 用 max-width 来防止图片撑破容器
.max-img() {
  display: block;
  max-width: 100%;
  height: auto;
}

// 2x 3x 背景图片
//.image-nx(@url) {
//  background-image: url("@url + '@2x.png'");
//  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
//    background-image: url("@url + '@3x.png'");
//  }
//}


// 用于隐藏元素内文字，一般在文字隐藏之后使用背景图片替代显示
.hide-text() {
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}

.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}


.h-100 {
  height: 100px;
}